In [22]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [24]:
#Convert CSV in to DataFrame



All_bus_details_df=pd.read_csv("RED_fullbus_details.csv")

In [26]:
All_bus_details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1855 entries, 0 to 1854
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bus_name        1708 non-null   object
 1   total_duration  1708 non-null   object
 2   bus_type        1702 non-null   object
 3   start_time      1708 non-null   object
 4   end_time        1708 non-null   object
 5   rating          1708 non-null   object
 6   price           1708 non-null   object
 7   seats           1708 non-null   object
 8   Route_name      1855 non-null   object
 9   Route_link      1855 non-null   object
 10  state_name      1855 non-null   object
dtypes: object(11)
memory usage: 159.5+ KB

In [28]:
#convert price Data into numeric:
All_bus_details_df["price"]=All_bus_details_df["price"].astype(str)
All_bus_details_df["price"]=All_bus_details_df["price"].str.replace("INR","")
All_bus_details_df["price"]=All_bus_details_df["price"].str.strip()
All_bus_details_df["price"].fillna(0)

0        529
1        699
2        869
3        519
4        398
        ...
1850     550
1851     550
1852     550
1853    1200
1854    3500
Name: price, Length: 1855, dtype: object

In [30]:
#clean the Rating coloumn
All_bus_details_df["rating"]=All_bus_details_df["rating"].str.replace("New","")
All_bus_details_df["rating"]=All_bus_details_df["rating"].astype(str)
All_bus_details_df["rating"]=All_bus_details_df["rating"].str.split().str[0]
All_bus_details_df["rating"]=All_bus_details_df["rating"].str.strip()
All_bus_details_df["rating"].fillna(0)

0       4.7
1       4.6
2       4.7
3       4.4
4       4.6
       ...
1850    2.0
1851    2.0
1852    2.0
1853    1.0
1854      0
Name: rating, Length: 1855, dtype: object

In [32]:
# Drop rows with NaN values in specified columns
All_bus_details_df = All_bus_details_df.dropna(subset=["bus_name", "total_duration", "bus_type", "start_time", "end_time", "rating", "price", "seats", "Route_name", "Route_link", "state_name"])

In [34]:
All_bus_details_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1670 entries, 0 to 1853
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bus_name        1670 non-null   object
 1   total_duration  1670 non-null   object
 2   bus_type        1670 non-null   object
 3   start_time      1670 non-null   object
 4   end_time        1670 non-null   object
 5   rating          1670 non-null   object
 6   price           1670 non-null   object
 7   seats           1670 non-null   object
 8   Route_name      1670 non-null   object
 9   Route_link      1670 non-null   object
 10  state_name      1670 non-null   object
dtypes: object(11)
memory usage: 156.6+ KB

In [36]:
All_bus_details_df.head()

,bus_name,total_duration,bus_type,start_time,end_time,rating,price,seats,Route_name,Route_link,state_name
0,FRESHBUS,07h 10m,Electric A/C Seater (2+2),16:00,23:10,4.7,529,34 Seats available,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,Andhra Pradesh
1,GMRK Tours and Travels,05h 40m,Volvo A/C Semi Sleeper (2+2),23:45,05:25,4.6,699,24 Seats available,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,Andhra Pradesh
2,IntrCity SmartBus,07h 05m,AC Sleeper (2+1),23:50,06:55,4.7,869,23 Seats available,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,Andhra Pradesh
3,AdIntrCity SmartBus,08h 00m,A/C Seater / Sleeper (2+1),22:05,06:05,4.4,519,33 Seats available,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,Andhra Pradesh
4,FRESHBUS,06h 35m,Electric A/C Seater (2+2),11:20,17:55,4.6,398,38 Seats available,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,Andhra Pradesh

SQL connection

In [57]:
import mysql.connector

#MySQL server 
connection = mysql.connector.connect(
     host="localhost",
        user="root",
    password="saan",
    #database="red_bus_project"
)

# Create a cursor
my_cursor = connection.cursor()

# Create the database
my_cursor.execute("CREATE DATABASE IF NOT EXISTS red_bus_project")

my_cursor.execute("USE red_bus_project")

In [59]:
#If Already created Table Deletion
my_cursor.execute("DROP TABLE IF EXISTS bus_details;")
#Table creation
my_cursor.execute('''CREATE TABLE bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  bus_name VARCHAR(150)  NULL,
                  total_duration VARCHAR(150) NOT NULL,
                  bus_type	 VARCHAR(150) NOT NULL,
                  start_time  VARCHAR(150) NOT NULL,
                  end_time	 VARCHAR(150) NOT NULL,
                  rating VARCHAR(150) NULL,
                  price INT(150) NOT NULL,
                  seats VARCHAR(150) NOT NULL,
                  Route_name VARCHAR(150) NULL,
                  Route_link VARCHAR(150)  NULL,
                  state_name VARCHAR(50) NULL
                  
                  )''')
print("Table created in Database")

Table created in Database

In [61]:
#INSERT BUS DETAILS
insert_bus_details='''INSERT INTO bus_details(
                      bus_name,
                      total_duration,
                      bus_type,
                      start_time,
                      end_time,
                      rating,
                      price,
                      seats,
                      Route_name,
                      Route_link,
                      state_name)
                    VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''


details=All_bus_details_df.values.tolist()

my_cursor.executemany(insert_bus_details,details)

connection.commit()

print("Bus Details are inserted into the table")

Bus Details are inserted into the table

In [63]:
print(All_bus_details_df[["bus_name",
                      "total_duration",
                      "bus_type",
                      "start_time",
                      "end_time",
                      "rating",
                      "price",
                      "seats",
                      "Route_name",
                      "Route_link"]].isnull().sum())

bus_name          0
total_duration    0
bus_type          0
start_time        0
end_time          0
rating            0
price             0
seats             0
Route_name        0
Route_link        0
dtype: int64